# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # TurboSMS
    sms_driver:   pdo_mysql
    sms_host:     94.249.146.189
    sms_port:     ~
    sms_name:     users
    sms_user:     root
    sms_password: ~
    sms_sign:     test
    sms_to_numbers:
        username: '+380901234567'

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    # Websocket params
    marichat_websocket_port: 9010
    marichat_websocket_host: ~
