.body-container {
    margin-top: 50px;
}

.chat-row-time {
    width: 100px;
}

.chat-title-done {
    text-decoration: line-through;
}

.chat-actions {
    width: 150px;
}

.chat-actions-default {
    visibility: hidden;
}

.chat-row:hover .chat-actions-default {
    visibility: visible;
}

.chat-row-form {
    display: none;
}

.chat-actions-edit {
    display: none;
}

.chat-row-editing {
    display: none;
}

.chat-row-loading {
    display: none;
    background: url('../img/ajax-loader.gif');
    width: 16px;
    height: 16px;
}

.online-status {
    margin-top: 10px;
    display: inline-block;
}

.online-status-online {
    display: none;
}

.chat-add-form .add-loading {
    display: none;
}

.user-status {
    display: inline-block;
}

.messages-refresh-block {
    float: right;
    margin-top: -50px;
    display: none;
}

.chat-items:hover .messages-refresh-block {
    display: inline-block;
}

.messages-refresh-block .messages-loading {
    display: none;
}