{{ form(form) }}
<div class="add-loading loader">{{ 'Loading'|trans }}...</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#chat_message').focus();
        $('form[name="chat"]').submit(function() {
            Chat.add();
            return false;
        });
        $('form[name="chat"]').keydown(function () {
            Chat.notifyTyping('{{ app.user ? app.user.username : 'Anonymous' }}');
        });
    });
</script>