{% for message in messages %}
    <tr class="chat-row">
        <td class="chat-row-time">
            {{ message.time|date('Y-m-d H:i:s') }}
        </td>
        <td>
            {{ message.text }}
        </td>
    </tr>
{% endfor %}
