{% for message in messages %}
    <tr class="chat-row">
        <td class="chat-row-time">
            <div><strong>{{ message.username }}</strong></div>
            <div title="{{ message.time|date('Y-m-d H:i:s') }}">{{ message.time|date('H:i:s') }}</div>
        </td>
        <td>
            {{ message.text }}
        </td>
    </tr>
{% endfor %}
